body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:283px;
  height:608px;
  display:flex;
  transition:none;
}
#u4933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:608px;
}
#u4933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:11px;
  width:275px;
  height:606px;
  display:flex;
  transition:none;
}
#u4934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:606px;
}
#u4934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:13px;
  width:282px;
  height:604px;
  display:flex;
  transition:none;
}
#u4935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:604px;
}
#u4935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
