body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:937px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:7px;
  width:275px;
  height:608px;
  display:flex;
  transition:none;
}
#u4059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:608px;
}
#u4059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:661px;
  width:274px;
  height:606px;
  display:flex;
  transition:none;
}
#u4060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:606px;
}
#u4060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:661px;
  width:221px;
  height:716px;
  display:flex;
  transition:none;
}
#u4061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:716px;
}
#u4061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1403px;
  width:266px;
  height:602px;
  display:flex;
  transition:none;
}
#u4062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:602px;
}
#u4062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1403px;
  width:223px;
  height:769px;
  display:flex;
  transition:none;
}
#u4063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:769px;
}
#u4063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2215px;
  width:275px;
  height:607px;
  display:flex;
  transition:none;
}
#u4064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:607px;
}
#u4064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:2342px;
  width:224px;
  height:32px;
  display:flex;
  transition:none;
}
#u4065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
}
#u4065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2341px;
  width:217px;
  height:30px;
  display:flex;
  transition:none;
}
#u4066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u4066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:2848px;
  width:274px;
  height:608px;
  display:flex;
  transition:none;
}
#u4067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:608px;
}
#u4067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3494px;
  width:270px;
  height:606px;
  display:flex;
  transition:none;
}
#u4068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:606px;
}
#u4068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:3494px;
  width:274px;
  height:604px;
  display:flex;
  transition:none;
}
#u4069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:604px;
}
#u4069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:3494px;
  width:221px;
  height:560px;
  display:flex;
  transition:none;
}
#u4070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:560px;
}
#u4070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:15px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4071 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:668px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4072 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1411px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2222px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2856px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:3500px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:3508px;
  width:70px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u4077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
