body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:1031px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:14px;
  width:283px;
  height:606px;
  display:flex;
  transition:none;
}
#u4921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:606px;
}
#u4921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:14px;
  width:282px;
  height:612px;
  display:flex;
  transition:none;
}
#u4922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:612px;
}
#u4922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:14px;
  width:284px;
  height:614px;
  display:flex;
  transition:none;
}
#u4923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:614px;
}
#u4923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
