body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:932px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:22px;
  width:282px;
  height:606px;
  display:flex;
  transition:none;
}
#u4936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:606px;
}
#u4936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:22px;
  width:278px;
  height:606px;
  display:flex;
  transition:none;
}
#u4937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:606px;
}
#u4937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:22px;
  width:280px;
  height:606px;
  display:flex;
  transition:none;
}
#u4938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:606px;
}
#u4938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
