body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1554px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:750px;
  height:338px;
  display:flex;
  transition:none;
}
#u4326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:338px;
}
#u4326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:22px;
  width:740px;
  height:332px;
  display:flex;
  transition:none;
}
#u4327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:332px;
}
#u4327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:413px;
  width:743px;
  height:340px;
  display:flex;
  transition:none;
}
#u4328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:340px;
}
#u4328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:787px;
  width:751px;
  height:336px;
  display:flex;
  transition:none;
}
#u4329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:336px;
}
#u4329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1157px;
  width:743px;
  height:338px;
  display:flex;
  transition:none;
}
#u4330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:338px;
}
#u4330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
