body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:3158px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:750px;
  height:338px;
  display:flex;
  transition:none;
}
#u4310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:338px;
}
#u4310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4311 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:381px;
  width:750px;
  height:331px;
  display:flex;
  transition:none;
}
#u4311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:331px;
}
#u4311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:0px;
  width:746px;
  height:332px;
  display:flex;
  transition:none;
}
#u4312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:332px;
}
#u4312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:0px;
  width:754px;
  height:338px;
  display:flex;
  transition:none;
}
#u4313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:338px;
}
#u4313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4314 {
  border-width:0px;
  position:absolute;
  left:2423px;
  top:0px;
  width:746px;
  height:338px;
  display:flex;
  transition:none;
}
#u4314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:338px;
}
#u4314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
