body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:1923px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:20px;
  width:274px;
  height:604px;
  display:flex;
  transition:none;
}
#u4201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:604px;
}
#u4201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:20px;
  width:279px;
  height:610px;
  display:flex;
  transition:none;
}
#u4202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:610px;
}
#u4202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:20px;
  width:276px;
  height:611px;
  display:flex;
  transition:none;
}
#u4203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:611px;
}
#u4203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:20px;
  width:279px;
  height:602px;
  display:flex;
  transition:none;
}
#u4204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:602px;
}
#u4204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:20px;
  width:221px;
  height:846px;
  display:flex;
  transition:none;
}
#u4205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:846px;
}
#u4205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:1696px;
  top:20px;
  width:270px;
  height:603px;
  display:flex;
  transition:none;
}
#u4206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:603px;
}
#u4206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
