body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:967px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:606px;
  display:flex;
  transition:none;
}
#u4945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:606px;
}
#u4945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:3px;
  width:280px;
  height:603px;
  display:flex;
  transition:none;
}
#u4946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:603px;
}
#u4946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:3px;
  width:283px;
  height:610px;
  display:flex;
  transition:none;
}
#u4947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:610px;
}
#u4947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
