body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:283px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:26px;
  width:283px;
  height:611px;
  display:flex;
  transition:none;
}
#u4945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:611px;
}
#u4945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(128, 182, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:38px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4946_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
  background:inherit;
  background-color:rgba(208, 227, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:88px;
  width:156px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:163px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u4948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:207px;
  width:50px;
  height:320px;
  display:flex;
  transition:none;
}
#u4949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:320px;
}
#u4949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:202px;
  width:225px;
  height:330px;
  display:flex;
  transition:none;
}
#u4950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:330px;
}
#u4950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:197px;
  width:226px;
  height:44px;
  display:flex;
  transition:none;
}
#u4951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:44px;
}
#u4951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:251px;
  width:222px;
  height:130px;
  display:flex;
  transition:none;
}
#u4952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u4952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:359px;
  width:90px;
  height:59px;
  display:flex;
  transition:none;
}
#u4953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u4953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
