body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2036px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:594px;
  display:flex;
  transition:none;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:594px;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:274px;
  height:599px;
  display:flex;
  transition:none;
}
#u2567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:599px;
}
#u2567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:0px;
  width:224px;
  height:726px;
  display:flex;
  transition:none;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:726px;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:270px;
  height:598px;
  display:flex;
  transition:none;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:598px;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:0px;
  width:220px;
  height:618px;
  display:flex;
  transition:none;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:618px;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:1760px;
  top:0px;
  width:276px;
  height:600px;
  display:flex;
  transition:none;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:600px;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:9px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
