body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2036px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:594px;
  display:flex;
  transition:none;
}
#u2775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:594px;
}
#u2775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:274px;
  height:599px;
  display:flex;
  transition:none;
}
#u2776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:599px;
}
#u2776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:0px;
  width:224px;
  height:726px;
  display:flex;
  transition:none;
}
#u2777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:726px;
}
#u2777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:270px;
  height:598px;
  display:flex;
  transition:none;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:598px;
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:0px;
  width:220px;
  height:618px;
  display:flex;
  transition:none;
}
#u2779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:618px;
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:1760px;
  top:0px;
  width:276px;
  height:600px;
  display:flex;
  transition:none;
}
#u2780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:600px;
}
#u2780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:5px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(125, 181, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:9px;
  width:60px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
